/*Geral*/
*{
  margin:0;
  padding:1px;
  font-family:Helvetica, sans-serif;
}
/*barra de navegação -Cabeçalho*/
nav{
  background-color: #1bbf78;
  border-bottom: 3px solid #2d3934;
  height: 50px;
  }
  #logo{
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    position:absolute;
    top: 15px;
    left: 10px;
  }
  #menu{
    list-style: none;/*remove as bolinhas do menu*/
    float: right;
    margin-top: 17px;
  }
  .item {
    display: inline-block;
    margin-left:10px;
    margin-right: 10px;
  }
  .item a{ /* mudar a cor dos links do menu*/
    color:#fff;
    text-decoration: none;
  }
  .item a:hover{
    color:rgb(61, 51, 51);
    transition:0.5s;
  }
  /* FIM DA PROPRIEDADE DO CABEÇALHO*/
  p{
    color:black;
    font-size:20px;
    font-family: helvetica,Arial;
    display:flex;
  }
  body{
    background-color: rgb(200, 243, 229);
    }
  header{
    background-color: #1bbf78;
    height: 100px;
   }
  #_esquerda{
    padding: 2%;
    min-height:300px;
   width: 55%;/*largura*/
  }
  #_direita{
    display: inline-block;
    padding: 2%;
    background-color: aquamarine;
    min-height: 300px;
    width: 35%;
    }
  /* Container-class  */
.container{
width: 960px;
margin:0 auto;
}
  /* Calculadora IMC */
  main {
    display: flex;
    width: 50vw;
    height: 40vw;
    justify-content:left;
    align-items:center;
  }
  
  .container-cal{/*container da calculadora*/
    display:inline-flex;
    padding: 1em;
    flex-direction:column; /* para ficar na vertical*/
    background-color: rgb(61, 169, 61);
    width: 22em;
    height: 26em;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 0.5em;
    box-shadow: 0 0 10px black;
  }
  
  .title {
    display: flex;
    justify-content:center;
    align-items:left;
    width: 100%;
    height:40px;
    font: bold 1.6rem serif;
    border-bottom: solid 5px black margin-botton 20px;
  }
  
  .input {
    display: flex;
    width: 300px;
    height: 50px;
    justify-content: space-between;
    align-items: center;
  }
  
  .input input {/*caixas de colocar os dados*/
    width: 200px;
    height: 50px;
    border-radius:5px;
    border: none;
    outline: 0;
    font: bold 1.2rem serif;
    text-align: center;
  }
  
  .input label {
    font: bold 1.3rem serif;
  }
  
  .button {
    width: 300px;
    height: 40px;
    font: bold 1.3rem serif;
    background: #000;
    color: rgb(255, 198, 0);
    outline: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .result {
    display: flex;
    margin-top: 20px;
    align-items: center;
    width: 300px;
    height: 150px;
    border-radius: 5px;
    font: italic 1.5rem serif;
    box-shadow: 0px 0px 10px black;
    background: rgb(197, 175, 175);
    color: #255,198,0;
    padding: 10px;
    box-sizing: border-box;
    user-select: none;
  }
  /*Rodape*/
  footer{
    clear: both;
    background-color:#1bbf78 ;
    height: 30px;
    text-align: center;
  }
