body {
  margin: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
}

.urna {
  background-color: rgb(129, 189, 164);
  padding: 30px;
  display: flex;
}
.tela {
  width: 500px;
  height: 320px;
  background: linear-gradient(to right, #899c88, #edf7ef);
  display: flex;
  flex-direction: column;
}
.teclado {
  margin-left: 30px;
  background-color: #ebe9f1;
}
.teclado--linha {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.teclado--botao {
  width: 70px;
  height: 40px;
  background-color: black;
  color: #fff;
  font-size: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  cursor: pointer;
  box-shadow: 3px 3px 0px #555;
}
.botao--branco {
  background-color: #fff;
  color: black;
  font-size: 15px;
}
.botao--corrige {
  background-color: #f09046;
  color: black;
  font-size: 15px;
}
.botao--confirma {
  background-color: green;
  color: black;
  font-size: 15px;
  width: 90px;
  height: 50px;
}
.d-1 {
  flex: 1;
  display: flex;
}

.d-1-left {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding-left: 20px;
}
.d-1-1 {
  height: 50px;
  display: flex;
  align-items: center;
}
.d-1-2 { /* nome do vereador*/
  height: 50px;
   display: flex;
  align-items: center;
 justify-content: center;
}
.d-1-3 {/* local dos numeros*/
  height: 50px;
  }

.d-1-4 { /* nome do prefeito partido e vice*/
  flex: 1;
  line-height: 30px;
}
.d-1-right {
  width: 90px;
}

.d-2 {
  height: 50px;
  font-size: 14px;
  border-top: 2px solid#000;
  padding-left: 10px;
}
